[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"ruamel.yaml" = "*"
wheel = "*"
pytest = "*"
docopt = "*"
buildlib = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.6"
