[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"ruamel.yaml" = "*"
wheel = "*"
docopt = "*"
pylint = "*"
yapf = "*"
mypy = "*"
buildlib = "==2.1.12"
setuptools = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
